@use '../core/variables' as vars;

.footer {
  background: linear-gradient(90deg, #3d0c4b 30%, #b49eb0 100%);
  padding: 20px;
  font-size: 14px;
  color: #fff; 
  text-align: center;
  height: 20px;
}
.footer__top {
  margin-top: 20px;
  font-weight: 700;
}
.footer__brand {
  padding-bottom: 30px;
}

.team-member {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.team-member span {
  font-size: 15px;
  padding-right: 15px;
}

img {
  width: 25px;
  background-color: #e8e5e5;
  border-radius: 15px;
}

@media (min-width: 600px) {

.footer__top {
	margin-top: 40px;
	text-align: center;
}
}

