<footer class="footer">
  <div class="footer__top">
    <span class="footer__brand">Invite ME!</span>
    <span class="footer__copyright">© 2025 Invite ME!</span>
  </div>

  <div class="footer__team">
    <div class="team-member">
      <span>Rosana</span>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/rosana-victoria-moya-minuesa-1246841b5/" target="_blank" title="LinkedIn Rosana">
          <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" />
        </a>
        <a href="#" target="_blank" title="GitHub Rosana">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" />
        </a>
      </div>
    </div>

    <div class="team-member">
      <span>Tania</span>
      <div class="social-icons">
        <a href="#" target="_blank" title="LinkedIn Tania">
          <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" />
        </a>
        <a href="#" target="_blank" title="GitHub Tania">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" />
        </a>
      </div>
    </div>

    <div class="team-member">
      <span>Karen</span>
      <div class="social-icons">
        <a href="#" target="_blank" title="LinkedIn Karen">
          <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" />
        </a>
        <a href="#" target="_blank" title="GitHub Karen">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" />
        </a>
      </div>
    </div>

    <div class="team-member">
      <span>Michelle</span>
      <div class="social-icons">
        <a href="#" target="_blank" title="LinkedIn Michelle">
          <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" />
        </a>
        <a href="#" target="_blank" title="GitHub Michelle">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" />
        </a>
      </div>
    </div>
  </div>
</footer>


    