<section class="preview-section">
    <div class="preview">
        <div class="preview__main">
            <p class="preview-main__message"></p>
            <p class="preview-main__host-name"></p>
        </div>
        <div class="preview__data">
            <p class="preview__event-date"></p>
            <p>Te esperamos en</p>
            <p class="preview__address"></p>
            <p class="preview__phone"></p>
            <p class="preview__mail"></p>
        </div>
        <div class="user-photo">       
            <img id="preview-image" src="#" alt="Vista previa de la foto" style="display: none;" /></div>
        </div>
    </div>
</section>