@use 'core/reset';
@use 'layout/page';
@use 'layout/header';
@use 'layout/footer';
@use 'layout/form';
@use 'layout/preview';
@use 'layout/contact';

@font-face {
  font-family: "Dancing Script";
  src: url("/fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;  /* variable font: soporta varios pesos */
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comic Relief";
  src: url("/fonts/ComicRelief-Regular.ttf") format("truetype");
  font-weight: 100 900;  /* variable font: soporta varios pesos */
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Permanent Marker";
  src: url("/fonts/PermanentMarker-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 1000; /* rango de pesos */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
